# required variables
DATABASE_URL=postgres://postgres:postgres@localhost:5432/otter
REDIS_URL=redis://localhost:6379
HOST=0.0.0.0:3000
FRONTEND_URL=http://localhost:5173

# optional: enable OpenTelemetry exporting (uses standard OTel env vars)
# OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
# OTEL_EXPORTER_OTLP_HEADERS=x-optional-header=value

# optional: use an AI API for embedding generation
AI_API_KEY=your_api_key_here
AI_API_URL=https://openrouter.ai/api/v1/embeddings
AI_API_MODEL=intfloat/multilingual-e5-large
# can only be used if the local model = remote model
# API_FORCE_LOCAL=false
